@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Literata:wght@300&family=Noto+Serif+NP+Hmong:wght@500&family=Poppins:ital,wght@1,300&family=Roboto:ital,wght@0,300;0,400;1,400&family=Sedgwick+Ave+Display&display=swap');

.project-container {
  height: 820px;
  width: 100%;
  cursor: pointer;
}
.pro-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.pro-head{
  font-family:literata;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 2px 2px 2px pink;
  letter-spacing: 3px;
  color:pink;
  
}
.pro-sub-head{
  color: rgb(49, 11, 49);
  letter-spacing: 4px;
}
.project-sub-container {
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3,480px);
  gap: 40px;
  margin-top: 50px;
}
.pro-card {
    margin-top: 100px;
  position: relative;
  width: 300px;
  height: 170px;
 
  border-radius: 10px;
  background-image: linear-gradient(rgb(128, 128, 245),rgb(230, 162, 174));
  transition: 0.5s;
}
.pro-card:hover {
  height: 300px;
}
.img-bx {
  position: absolute;
  left: 25%;
  top: -100px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  transition: 0.5s;
}
.pro-card:hover .img-bx {
  left: 20%;
  width: 200px;
  height: 200px;
}
.img-bx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pro-card .pro-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.5s;
  overflow: hidden;
}
.pro-card .pro-content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(75px);
}
.pro-card:hover .pro-content .details {
  transform: translate(0);
}
.pro-card .pro-content .details h2 {
  font-size: 20px;
  font-family: cursive;
}
.action-btn {
  padding: 8px;
  color: black;
  font-family: cursive;
  font-weight: bolder;
  background-color: cornflowerblue;
  border-radius: 10px;
  letter-spacing: 2px;
}
.source-code{
  margin-top: 25px;
}
.pro-card .pro-content .details .source-code {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  font-size: 1em;
  line-height: 1.2em;
  font-weight: 600;
  font-family: cursive;
  color: rgb(49, 11, 49);
}
.source-code-front{
  letter-spacing: 2px;
display: flex;
align-items: center;
justify-content: space-between;
font-weight: 600;
  font-family: cursive;
  color: rgb(49, 11, 49);
  margin-top: 25px;
}
.source-code-frontend{
  letter-spacing: 2px;
  display: flex;
align-items: center;
justify-content: center;
font-weight: 600;
  font-family: cursive;
  color: rgb(49, 11, 49);
  margin-top: 25px;
}